<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Library</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/bootstrapBodyScripts :: scriptsBootstrap"></th:block> /*/--> 
 
    <h2>Book Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Book Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.id}">Book Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ISBN:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.isbn}">ISBN</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.title}">Title</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Author:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.author}">Author</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>