<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Library</title>
    
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Welcome to My Library</h2>
                    <h3>It is Spring MVC application.</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/background.png" width="650"
                     th:src="@{/images/background.png}"/>
            </div>
        </div>
</div>
</body>
</html>